/* dashboard.css */
body {
  background-color: #141414;
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-content {
  display: flex;
  flex-grow: 1;
  background-color: #141414;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 250px;
  background-color: #e50914;
  color: white;
  padding: 20px;
}

.sidebar.small {
  width: 80px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar li.selected {
  background-color: #b20710;
}

.sidebar .icon {
  margin-right: 10px;
}

.activities {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.filter-container {
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.movie-card {
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 8px;
  width: calc(20% - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.favorites-content,
.watchlater-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #141414;
}

.favorites-content .movie-cards,
.watchlater-content .movie-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
